body {
    font-family: 'Arial', sans-serif;
    background-color: #a79687;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.quiz-container {
    width: 100%;
    max-width: 800px;
    background-color: hsl(23, 13%, 53%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(114, 40, 40, 0.1);
    padding: 20px;
    margin: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #3b302a;
    text-align: center;
}

.question {
    margin-bottom: 20px;
}

.question p {
    font-weight: bold;
    font-size: 1.2em;
    color: #4d3d36;
}

label {
    display: block;
    margin: 10px 0;
    font-size: 1em;
    color: hsl(0, 0%, 100%);
    position: relative;
    padding-left: 30px;
}

input[type="radio"] {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    accent-color: #141312;
}

button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #bda996;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #49413a;
}

.result {
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    text-align: center;
    font-size: 1.2em;
    color: #41382c;
}
