body {
    font-family: 'Arial', sans-serif;
    background-color: #161512;
    color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.container {
    background-color: #1f1d19;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 600px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #922013;
}

.intro {
    margin: 20px 0;
}

.question-container {
    margin: 15px 0;
}

label {
    display: block;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    background-color: #a73f2c;
    transition: background-color 0.3s;
}

label:hover {
    background-color: #740f08;
}

input[type="radio"] {
    margin-right: 10px;
}

button {
    background-color: #e74c3c;
    border: none;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #c0392b;
    transform: scale(1.05);
}

.result {
    margin-top: 20px;
    font-size: 1.5em;
    color: #f7f1f1;
}                     